<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Error</title>
    <link rel="stylesheet" href="style.css">
    <style>
        span.weak {
            font-weight: lighter;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
<div class="buttons">
    <h1> <strong> User not found! </strong></h1></div>
<hr>
<div class="buttons">
    <h1> <span class="weak"> Entered Wrong Data? </span> </h1> </div>
<div class="buttons">
    <a href="/login" class="register">Retry Login!</a>
</div>
<hr>
<div class="buttons">
    <h1> <span class="weak"> New User? </span> </h1></div>
<div class="buttons">
    <a href="/register" class="register">Register first!</a>
</div>
</body>
</html>