<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Error</title>
    <link rel="stylesheet" href="style.css">
    <style>
        span.weak {
            font-weight: lighter;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
<div class="buttons">
    <h1> <strong> User already in the Database! </strong></h1></div>
<hr>
<div class="buttons">
    <h1> <span class="weak"> Forgot your user? </span> </h1> </div>
<div class="buttons">
    <a href="/login" class="register">Try login!</a>
</div>
</div>
<div class="buttons">
    <h1> <span class="weak"> Entered wrong data? </span> </h1> </div>
<hr>
<div class="buttons">
    <a href="/register" class="register">Retry register!</a>
</div>
</div>
</body>
</html>